
<div class="wrapper login-wrapper">
  <div class="login-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 align-self-center">
          <h1><span>Welcome to,</span>Automator</h1>
        </div>
        <div class="col-12 col-md-5">
          <div class="login-form">
            <h2 class="text-uppercase">Login</h2>
            <p class="mb-4">Please fill the following details to login</p>
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Server Name" />
                  </div>
                </div>
                <div class="col-3 pl-0">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Port" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Client Name" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-0 mt-3">
                    <button class="btn-green" type="submit">Submit / Discover</button>
                  </div>
                </div>
              </div>
            </form>
          </div>	
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>