<aside>
    <h3>Applications</h3>
    <form>
      <div class="form-group mb-0">
        <input class="form-control" type="text" placeholder="Quick Find" />
      </div>
    </form>
    <div class="application-list">
      <ul class="list-unstyled">
        <li><a href="#" class="draggable drag-drop">Account</a></li>
        <li><a href="#" class="draggable drag-drop">Account Contact Relationship</a></li>
        <li><a href="#" class="draggable drag-drop">Activity</a></li>
        <li><a href="#" class="draggable drag-drop">Assets</a></li>
        <li><a href="#" class="draggable drag-drop">Assets Relationship</a></li>
        <li><a href="#" class="draggable drag-drop">Campaign Influence</a></li>
        <li><a href="#" class="draggable drag-drop">Campaign Member</a></li>
        <li><a href="#" class="draggable drag-drop">Case</a></li>
        <li><a href="#" class="draggable drag-drop">Duplicate Record Item</a></li>
        <li><a href="#" class="draggable drag-drop">Email Message</a></li>
        <li><a href="#" class="draggable drag-drop">Email Endorsement</a></li>
      </ul>
    </div>
</aside>
