<div class="main-content">
    <div class="legend-content dropzone">
      <ul class="list-unstyled">
        <li><span class="color-brown"></span>New Application</li>
        <li><span class="color-blue"></span>Saved Application</li>
        <li><span class="color-orange"></span>Deployed Application</li>
        <li><span class="color-green"></span>Successfully Deployed</li>
        <li><span class="color-red"></span>Failed Deployed</li>
        <li><span></span>Default Application</li>
      </ul>
    </div>
    <div class="sidebar">
      <div class="sidebar-heading">
        <h3>Email Owner<span>Email Endorsment</span></h3>
        <button type="button"><img class="img-fluid" src="../../assets/images/cross-icon.png" alt="" /></button>
      </div>
      <div class="sidebar-content">
        <ul class="list-unstyled">
          <li><b>Application Name:</b> Badge</li>
          <li><b>Type:</b> Web</li>
          <li><b>Duration:</b> 1 Hour</li>
          <li><b>Creation Date:</b> 7th March 2018</li>
          <li><b>Created By:</b> John Doe</li>
        </ul>
        <ul class="list-unstyled list-inline sidebar-links">
          <li class="list-inline-item"><a href="#"><img class="img-fluid" src="../../assets/images/edit-icon.png" alt=""/> Edit</a></li>
          <li class="list-inline-item"><a href="#"><img class="img-fluid" src="../../assets/images/save-icon.png" alt=""/> Save</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-right">
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item"><button class="btn-green" type="button">Save</button></li>
              <li class="list-inline-item"><button class="btn-dark" type="button">Deploy</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
